@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

h1 {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  margin-left: 1.66%;
  margin-top: 30px;
  text-transform: uppercase;
  width: 30%;
  border-bottom: 5px solid red;
  padding-bottom: 2=10px;
}

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}